{% extends "base.html" %}

{% block conteudo %}
<div class="titulo">
    <h2>Bem-Vindo ao Sun And Nature Corp!</h2>
    <p>Este é o portal interno para acompanhamento e gestão de serviços da empresa.</p>
</div>
<div class="aviso">
    <h3>𝘈𝘤𝘦𝘴𝘴𝘰 𝘙𝘢́𝘱𝘪𝘥𝘰!</h3>
    <p> Utilize o menu superior para navegar entre a criação e listagem de serviços e verificar perfil de colaboradores.</p>
    <img src="https://static.vecteezy.com/system/resources/previews/027/247/759/original/a-cute-flower-free-png.png" width="120" height="120">
</div>
{% endblock conteudo %}